.book-data::-webkit-scrollbar {
    display: none;
}

.book-data {
    overflow: scroll;
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;;
}



.styled-table {
    border-collapse: collapse;
    background-color: white;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead {
    position: sticky;
    top: 0;
}

.styled-table thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.submit-book {
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    margin: 10px auto;
}

.submit-book:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 3px 20px 0px black;
}


.add-book-btns {
    display: flex;
    gap: 3px;
}

/* TRASH ICON */
.fa-solid.fa-trash-can{
    font-size: 18px;
    padding-left: 2em;

}

.fa-solid.fa-trash-can:hover{
    cursor: pointer;
    color: rgb(143, 4, 4);
}

