.login-box form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-text-fill-color: #fdfcfc !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 2000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}



.login-box {
  width: 400px;
  padding: 40px;
  margin: 0 auto;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.user-box label {
  color: white;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}



.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a span {
  position: absolute;
  display: block;
}



.submit {
      background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 35px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;


}

.submit:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 1px 1px rgb(255, 255, 255);
  border:none;
  color: black;
  cursor: pointer;
}



.separator {
  position: relative;
  width: 57%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.separator h2 {
 position: absolute;
    top: -6px;
    font-size: 12px;
    left: 43%;
    background-color: black;

}




.fa-eye, .fa-regular {
  position: absolute;
  color: white;
  right: 15px;
  top: 5px;
  font-size: 20px;
}

input {
  border: 3px solid grey;
  border-radius: 3px;
}




.login-box .user-box input:valid ~ label {
  top: -20px;
 

}


.login-box .user-box input:focus ~ label {
    top: -20px;
    top: -20px;
    left: 0;
    font-size: 12px;
    color: rgba(246, 231, 231, 0.98);
    
}